body{
    background-color: #cadcca;
    
}
#gifContainer{
    padding: 0;
    border: none;
    height: 500px;
    
}

#gifForm{
    padding: 5px;
    border: none;
    box-sizing: border-box;
    display: inline;   
}

img{
    padding: 5px;
    height: 10em;
    width: 10em;
}

#searchAndRemove{
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    display: flex;
    justify-content: center;
}

#removeGif{
   padding: none;
   position: relative;
   left: 2em;
   background-color: #d3270d;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1;
   display: flex;
   justify-content: center;
   border: none;
   transition: .2s;
}

#searchBtn{
   padding: none;
   position: relative;
   background-color: #ffaaff;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: none;
   transition: .2s;
}




#removeGif:hover{
    background-color: #aaffaa;
}

#searchBtn:hover{
    background-color: #aaffaa;
}